# Certificates and keys
/alice/pkcs8/*
/alice/x509/*
/alice/x509ca/*
/bob/pkcs8/*
/bob/x509/*
/bob/x509ca/*
/qkd_certs/*
*.pem
*.crt 
*.keyç

# venv
.test-venv
.test-venv/*
/.pytest_cache/*

# data
results/*
analysis/*
analysis_*/